@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-image: url(bg5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

h1{
    font-family: "Open Sans", sans-serif;
    color: #ffbc03;
    font-size: 60px;
    letter-spacing: 1.2px;
    text-shadow:#000000;
}  



input{
    width: 100%;
    
}

input{
    width:100%;
    padding:10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    
}

input:focus {
    box-shadow: inset 0 -5px 45px rgb(225, 189, 69),
      0 1px 1px rgba(255, 255, 255, 0.2);
  }

label{
    width: 150px;
    display: inline-block;
    text-align: left;
    letter-spacing: 1.2px;
    font-family: "Helvetica Neue", sans-serif; 
}

.container{
    max-width: 850px;
    width:100%;
    background:#318CE7;
    padding: 45px 30px;
    border-radius: 15px;
    margin-top: 30px;
}
.row{
    color:aliceblue;
    text-shadow: 1px 1px 1px rgb(0, 0, 0)
}
